[SBYNTAG:DEFINE:objname,allnodes(),subobjects(),SimpleSearchFieldGroup(),SearchResultFieldRef(),SearchResultFieldRef2(),reportfields()]
<?xml version="1.0" encoding="UTF-8"?>
<midm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema/midm.xsd">
[SBYNTAG:REP-BEGIN]    
[sbyntag:allnodes()]
[SBYNTAG:REP-END]
    <relationships>
        <name>[sbyntag:objname]</name>
[SBYNTAG:REP-BEGIN]    
[sbyntag:subobjects()]
[SBYNTAG:REP-END]
    </relationships>
    <impl-details>
        <master-controller-jndi-name>ejb/[sbyntag:objname]MasterController</master-controller-jndi-name>
        <validation-service-jndi-name>ejb/[sbyntag:objname]CodeLookup</validation-service-jndi-name>
        <usercode-jndi-name>ejb/[sbyntag:objname]UserCodeLookup</usercode-jndi-name>
        <reportgenerator-jndi-name>ejb/[sbyntag:objname]ReportGenerator</reportgenerator-jndi-name>
        <debug-flag>true</debug-flag>
        <debug-dest>console</debug-dest>
        <object-sensitive-plug-in-class></object-sensitive-plug-in-class>
    </impl-details>
    <gui-definition>
        <page-definition>
            <local-id/>
            <initial-screen-id>1</initial-screen-id>
            <dashboard>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Dashboard</tab-name>
                <screen-id>8</screen-id>
                <display-order>0</display-order> 
                <search-pages/>
                <search-result-pages/>
                <subscreen-configurations>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Summary</tab-name>
                        <screen-id>0</screen-id>
                        <display-order>0</display-order>
                        <search-pages/>
                        <search-result-pages/>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Reports</tab-name>
                        <screen-id>1</screen-id>
                        <display-order>1</display-order>
                        <search-pages/>
                        <search-result-pages/>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Compare EUIDs</tab-name>
                        <screen-id>2</screen-id>
                        <display-order>2</display-order>
                        <search-pages/>
                        <search-result-pages/>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Lookup EUID</tab-name>
                        <screen-id>3</screen-id>
                        <display-order>3</display-order>
                        <search-pages/>
                        <search-result-pages/>
                    </subscreen>
                </subscreen-configurations>
            </dashboard>
            <record-details>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Record Details</tab-name>
                <screen-id>1</screen-id>
                <display-order>2</display-order>
                <search-pages>
                    <simple-search-page>
                        <screen-title>Advanced [sbyntag:objname] Lookup (Phonetic)</screen-title>
                        <search-result-id>1</search-result-id>
                        <search-screen-order>1</search-screen-order>
                        <show-euid>false</show-euid>
                        <show-lid>false</show-lid>
                        <instruction/>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SimpleSearchFieldGroup()]
[SBYNTAG:REP-END]
                        <search-option>
                            <display-name>Phonetic Search</display-name>
                            <query-builder>BLOCKER-SEARCH</query-builder>
                            <weighted>true</weighted>
                            <parameter>
                                <name>UseWildcard</name>
                                <value>false</value>
                            </parameter>
                        </search-option>
                    </simple-search-page>
                    <simple-search-page>
                        <screen-title>Advanced [sbyntag:objname] Lookup (Alpha)</screen-title>
                        <search-result-id>1</search-result-id>
                        <search-screen-order>0</search-screen-order>
                        <show-euid>false</show-euid>
                        <show-lid>false</show-lid>
                        <instruction>Enter as much information as possible to narrow the search</instruction>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SimpleSearchFieldGroup()]
[SBYNTAG:REP-END]
                        <search-option>
                            <display-name>Alpha Search</display-name>
                            <query-builder>ALPHA-SEARCH</query-builder>
                            <weighted>false</weighted>
                            <parameter>
                                <name>UseWildcard</name>
                                <value>true</value>
                            </parameter>
                        </search-option>
                    </simple-search-page>
                    <simple-search-page>
                        <screen-title>Simple [sbyntag:objname] Lookup</screen-title>
                        <search-result-id>1</search-result-id>
                        <search-screen-order>2</search-screen-order>
                        <show-euid>true</show-euid>
                        <show-lid>true</show-lid>
                        <instruction/>
                        <field-group/>
                        <search-option>
                            <display-name>Alpha Search</display-name>
                            <query-builder>ALPHA-SEARCH</query-builder>
                            <weighted>false</weighted>
                            <parameter>
                                <name>UseWildcard</name>
                                <value>true</value>
                            </parameter>
                        </search-option>
                    </simple-search-page>
                </search-pages>
                <search-result-pages>
                    <search-result-list-page>
                        <search-result-id>1</search-result-id>
                        <item-per-page>10</item-per-page>
                        <max-result-size>100</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef()]
[SBYNTAG:REP-END]
                    </search-result-list-page>
                </search-result-pages>
            </record-details>
            <transactions>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Transactions</tab-name>
                <screen-id>2</screen-id>
                <display-order>4</display-order>
                <search-pages>
                    <simple-search-page>
                        <show-euid>true</show-euid>
                        <show-lid>true</show-lid>
                    </simple-search-page>
                </search-pages>
                <search-result-pages>
                    <search-result-list-page>
                        <search-result-id>0</search-result-id>
                        <item-per-page>10</item-per-page>
                        <max-result-size>100</max-result-size>
                        <field-group/>
                    </search-result-list-page>
                </search-result-pages>
            </transactions>
            <duplicate-records>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Duplicate Records</tab-name>
                <screen-id>3</screen-id>
                <display-order>1</display-order>
                <search-pages>
                    <simple-search-page>
                        <screen-title>Basic Search</screen-title>
                        <search-result-id>0</search-result-id>
                        <search-screen-order>0</search-screen-order>
                        <show-euid>false</show-euid>
                        <show-lid>false</show-lid>
                        <show-status>false</show-status>
                        <show-create-date>true</show-create-date>
                        <show-create-time>false</show-create-time>
                        <instruction/>
                        <field-group/>
                    </simple-search-page>
                    <simple-search-page>
                        <screen-title>Advanced Search</screen-title>
                        <search-result-id>0</search-result-id>
                        <search-screen-order>1</search-screen-order>
                        <show-euid>true</show-euid>
                        <show-lid>true</show-lid>
                        <show-status>true</show-status>
                        <show-create-date>true</show-create-date>
                        <show-create-time>true</show-create-time>
                        <instruction/>
                        <field-group/>
                    </simple-search-page>
                </search-pages>
                <search-result-pages>
                    <search-result-list-page>
                        <search-result-id>0</search-result-id>
                        <item-per-page>10</item-per-page>
                        <max-result-size>100</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef()]
[SBYNTAG:REP-END]
                    </search-result-list-page>
                </search-result-pages>
            </duplicate-records>
            <assumed-matches>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Assumed Matches</tab-name>
                <screen-id>4</screen-id>
                <display-order>3</display-order>
                <search-pages/>
                <search-result-pages>
                    <search-result-list-page>
                        <search-result-id>0</search-result-id>
                        <item-per-page>10</item-per-page>
                        <max-result-size>100</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef()]
[SBYNTAG:REP-END]
                    </search-result-list-page>
                </search-result-pages>
            </assumed-matches>
            <source-record>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Source Record</tab-name>
                <screen-id>5</screen-id>
                <display-order>6</display-order>
                <search-pages/>
                <search-result-pages/>
                <subscreen-configurations>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>View/Edit</tab-name>
                        <screen-id>0</screen-id>
                        <display-order>0</display-order> 
                        <search-pages>
                            <simple-search-page>
                                <screen-title>Basic Search</screen-title>
                                <search-result-id>0</search-result-id>
                                <search-screen-order>0</search-screen-order>
                                <show-euid>false</show-euid>
                                <show-lid>true</show-lid>
                                <show-status>false</show-status>
                                <show-create-date>false</show-create-date>
                                <show-create-time>false</show-create-time>
                                <instruction/>
                                <field-group/>
                            </simple-search-page>
                            <simple-search-page>
                                <screen-title>Advanced Search</screen-title>
                                <search-result-id>0</search-result-id>
                                <search-screen-order>0</search-screen-order>
                                <show-euid>true</show-euid>
                                <show-lid>false</show-lid>
                                <show-status>false</show-status>
                                <show-create-date>true</show-create-date>
                                <show-create-time>true</show-create-time>
                                <instruction>Enter search criteria</instruction>
                                <field-group/>
                            </simple-search-page>
                        </search-pages>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>100</max-result-size>
                                <show-euid>true</show-euid>
                                <show-lid>true</show-lid>
                                <show-status>false</show-status>
                                <show-create-date>false</show-create-date>
                                <show-create-time>false</show-create-time>
                                <show-timestamp>true</show-timestamp>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef2()]
[SBYNTAG:REP-END]
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Add</tab-name>
                        <screen-id>1</screen-id>
                        <display-order>1</display-order> 
                        <search-pages>
                            <simple-search-page>
                                <screen-title>Basic Search</screen-title>
                                <search-result-id>0</search-result-id>
                                <search-screen-order>0</search-screen-order>
                                <show-euid>false</show-euid>
                                <show-lid>true</show-lid>
                                <show-status>false</show-status>
                                <show-create-date>false</show-create-date>
                                <show-create-time>false</show-create-time>
                                <instruction/>
                                <field-group/>
                            </simple-search-page>
                        </search-pages>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>100</max-result-size>
                                <field-group/>
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Merge</tab-name>
                        <screen-id>2</screen-id>
                        <display-order>2</display-order> 
                        <search-pages>
                            <simple-search-page>
                                <screen-title>LID Search</screen-title>
                                <search-result-id>0</search-result-id>
                                <search-screen-order>0</search-screen-order>
                                <show-euid>false</show-euid>
                                <show-lid>true</show-lid>
                                <show-status>false</show-status>
                                <show-create-date>false</show-create-date>
                                <show-create-time>false</show-create-time>
                                <instruction/>
                                <field-group/>
                            </simple-search-page>
                        </search-pages>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>100</max-result-size>
                                <field-group/>
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                </subscreen-configurations>
            </source-record>
            <reports>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Reports</tab-name>
                <screen-id>6</screen-id>
                <display-order>5</display-order>
                <search-pages/>
                <search-result-pages/>
                <subscreen-configurations>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Potential Duplicate Report</tab-name>
                        <report-name>Potential Duplicate</report-name>
                        <screen-id>0</screen-id>
                        <display-order>5</display-order> 
                        <search-pages/>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>2000</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef2()]
[SBYNTAG:REP-END]
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Deactivated Record Report</tab-name>
                        <report-name>Deactivated</report-name>
                        <screen-id>1</screen-id>
                        <display-order>1</display-order> 
                        <search-pages/>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>2000</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef2)]
[SBYNTAG:REP-END]
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Merged Transaction Report</tab-name>
                        <report-name>Merged</report-name>
                        <screen-id>2</screen-id>
                        <display-order>0</display-order> 
                        <search-pages/>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>2000</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef2()]
[SBYNTAG:REP-END]
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Unmerged Transaction Report</tab-name>
                        <report-name>Unmerged</report-name>
                        <screen-id>3</screen-id>
                        <display-order>2</display-order> 
                        <search-pages/>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>2000</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef2)]
[SBYNTAG:REP-END]
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Updated Record Report</tab-name>
                        <report-name>Update</report-name>
                        <screen-id>4</screen-id>
                        <display-order>3</display-order> 
                        <search-pages/>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>2000</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef2()]
[SBYNTAG:REP-END]
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Activity Report</tab-name>
                        <report-name>Transaction Summary Report</report-name>
                        <screen-id>5</screen-id>
                        <display-order>4</display-order> 
                        <search-pages>
                            <simple-search-page>
                                <screen-title>Weekly Activity</screen-title>
                                <report-name>Weekly Transaction Summary Report</report-name>
                                <search-result-id>0</search-result-id>
                                <search-screen-order>1</search-screen-order>
                                <field-group/>
                            </simple-search-page>
                            <simple-search-page>
                                <screen-title>Monthly Activity</screen-title>
                                <report-name>Monthly Transaction Summary Report</report-name>
                                <search-result-id>0</search-result-id>
                                <search-screen-order>2</search-screen-order>
                                <field-group/>
                            </simple-search-page>
                            <simple-search-page>
                                <screen-title>Yearly Activity</screen-title>
                                <report-name>Yearly Transaction Summary Report</report-name>
                                <search-result-id>0</search-result-id>
                                <search-screen-order>3</search-screen-order>
                                <field-group/>
                            </simple-search-page>
                        </search-pages>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>2000</max-result-size>
                                <field-group/>
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                    <subscreen>
                        <enable>true</enable>
                        <root-object>[sbyntag:objname]</root-object>
                        <tab-name>Assumed Matches Report</tab-name>
                        <report-name>Assumed Matches</report-name>
                        <screen-id>6</screen-id>
                        <display-order>6</display-order> 
                        <search-pages/>
                        <search-result-pages>
                            <search-result-list-page>
                                <search-result-id>0</search-result-id>
                                <item-per-page>10</item-per-page>
                                <max-result-size>2000</max-result-size>
[SBYNTAG:REP-BEGIN]    
[sbyntag:SearchResultFieldRef2()]
[SBYNTAG:REP-END]
                            </search-result-list-page>
                        </search-result-pages>
                    </subscreen>
                </subscreen-configurations>
            </reports>
            <audit-log>
                <allow-insert>false</allow-insert>
                <root-object>[sbyntag:objname]</root-object>
                <tab-name>Audit Log</tab-name>
                <screen-id>7</screen-id>
                <display-order>7</display-order>
                <search-pages>
                    <simple-search-page>
                        <show-euid>true</show-euid>
                        <show-lid>true</show-lid>
                    </simple-search-page>
                </search-pages>
                <search-result-pages>
                    <search-result-list-page>
                        <search-result-id>0</search-result-id>
                        <item-per-page>10</item-per-page>
                        <max-result-size>100</max-result-size>
                        <field-group/>
                    </search-result-list-page>
                </search-result-pages>
            </audit-log>
        </page-definition>
    </gui-definition>
</midm>
