[SBYNTAG:DEFINE:nodelist()]
DROP TABLE SBYN_SEQ_TABLE;
DROP TABLE SBYN_ENTERPRISE;
DROP TABLE SBYN_POTENTIALDUPLICATES;
[SBYNTAG:REP-BEGIN]
DROP TABLE SBYN_[sbyntag:nodelist().toUpperCase];
DROP TABLE SBYN_[sbyntag:nodelist().toUpperCase]SBR;
[SBYNTAG:REP-END]
DROP TABLE SBYN_USER_CODE;
DROP TABLE SBYN_OVERWRITE;
DROP TABLE SBYN_ASSUMEDMATCH;
DROP TABLE SBYN_MERGE;
DROP TABLE SBYN_TRANSACTION;
DROP TABLE SBYN_AUDIT;
DROP TABLE SBYN_COMMON_DETAIL;
DROP TABLE SBYN_COMMON_HEADER;
DROP TABLE SBYN_APPL;
DROP TABLE SBYN_SYSTEMSBR;
DROP TABLE SBYN_SYSTEMOBJECT;
DROP TABLE SBYN_SYSTEMS;