[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix,fieldname]
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Std</column-name>
					<match-type>USFNAME</match-type>
				</match-column>
