[SBYNTAG:DEFINE:path()]
<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by SeeBeyond (SeeBeyond) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="fieldNameType">
		<xs:restriction base="xs:string">
			<xs:pattern value="LastModified"/>
[SBYNTAG:REP-BEGIN]
			<xs:pattern value="[sbyntag:path()]"/>
[SBYNTAG:REP-END]			
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
