[SBYNTAG:DEFINE:objname]
/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2003-2007 Sun Microsystems, Inc. All Rights Reserved.
 *
 * The contents of this file are subject to the terms of the Common 
 * Development and Distribution License ("CDDL")(the "License"). You 
 * may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the License at
 * https://open-dm-mi.dev.java.net/cddl.html
 * or open-dm-mi/bootstrap/legal/license.txt. See the License for the 
 * specific language governing permissions and limitations under the  
 * License.  
 *
 * When distributing the Covered Code, include this CDDL Header Notice 
 * in each file and include the License file at
 * open-dm-mi/bootstrap/legal/license.txt.
 * If applicable, add the following below this CDDL Header, with the 
 * fields enclosed by brackets [] replaced by your own identifying 
 * information: "Portions Copyrighted [year] [name of copyright owner]"
 */

package com.sun.mdm.index.webservice;

import java.util.*;
import com.sun.mdm.index.objects.*;
import com.sun.mdm.index.objects.exception.*;
import com.sun.mdm.index.update.UpdateHelper;

/**
 * Enterprise[sbyntag:objname] value object
 */
public class Enterprise[sbyntag:objname] implements EnterpriseObjectBean{
    public static final int version = 1; 
    private EnterpriseObject meo;
    private SBR[sbyntag:objname] mSBR[sbyntag:objname];
    private System[sbyntag:objname][] mSystem[sbyntag:objname]s;
    private String mEUID;
    private String mStatus;

    /**
     * No argument constructor.
     */ 
    public Enterprise[sbyntag:objname]() {
    }
    
    /**
     * Creates a new Enterprise[sbyntag:objname] instance from a EnterpriseObject.
     */ 
    protected Enterprise[sbyntag:objname](EnterpriseObject eo) throws ObjectException {
        meo = eo;
        mSBR[sbyntag:objname] = new SBR[sbyntag:objname](eo.getSBR());
        pSetSystem[sbyntag:objname]s();
        mEUID=meo.getEUID();
        mStatus = meo.getStatus();        
    }

    /**
     * Getter for EUID attribute of the EnterpriseObject object
     *
     * @exception ObjectException ObjectException
     * @return String
     */
    public String getEUID() throws ObjectException {
        return mEUID;
       
    }

    /**
     * Getter for SBR[sbyntag:objname] attribute of the 
     * Enterprise[sbyntag:objname] object
     *
     * @return SBR[sbyntag:objname]
     */
    public SBR[sbyntag:objname] getSBR[sbyntag:objname]() {
        return mSBR[sbyntag:objname]; 
    }
    
    /**
     * return SBRObjectBean of Enterprise[sbyntag:objname] object
     */
    public SBRObjectBean pGetSBRObjectBean() {
        return getSBR[sbyntag:objname]();
    }
    
    /**
     * Getter for Status attribute of the EnterpriseObject object
     *
     * @exception ObjectException ObjectException
     * @return String
     */
    public String getStatus() throws ObjectException {
        return mStatus;
    }

    /**
     * Return SystemObject of the EnterpriseObject object
     *
     * @param system SystemCode
     * @param lid LocalID
     * @exception ObjectException ObjectException
     * @return SystemObject
     */
    public System[sbyntag:objname] pGetSystem[sbyntag:objname](String system, String lid)
        throws ObjectException {
        SystemObject so = meo.getSystemObject(system, lid);
        return new System[sbyntag:objname](so);
    }
    
    
    /**
     * Return SystemObjectBean of the EnterpriseObject object 
     * from system code and local id
     *
     * @param systemCode System Code
     * @param lid Local ID
     * @exception ObjectException ObjectException
     * @return SystemObjectBean
     */
    public SystemObjectBean pGetSystemObjectBean(String systemCode, String lid)
        throws ObjectException {
        return pGetSystem[sbyntag:objname](systemCode, lid);
    }
            
    /**
     * Getter for SystemObjects attribute of the EnterpriseObject object
     *
     * @return Collection of System[sbyntag:objname]
     */
    public System[sbyntag:objname][] getSystem[sbyntag:objname]() {
        return mSystem[sbyntag:objname]s;
    }
    
    /**
     * Return the ith System[sbyntag:objname] of the EnterpriseObject object
     * @param index index of System[sbyntag:objname]
     * @return System[sbyntag:objname]
     */
    public System[sbyntag:objname] getSystem[sbyntag:objname](int index) {
        return mSystem[sbyntag:objname]s[index];
    }

    /**
     * Get SystemObject count, used for JCE for loop
     * @return number of SystemObject records
     */    
    public int countSystem[sbyntag:objname]() {
        return mSystem[sbyntag:objname]s.length;
    }
    
    /**
     * Get SystemObject count
     * @return number of SystemObject records
     */
    public int getSystem[sbyntag:objname]Count() {
        return countSystem[sbyntag:objname]();
    }

    /**
     * return Collection of SystemObjectBean of the EnterpriseObject object
     *
     * @return Collection of SystemObjectBean
     */
    public SystemObjectBean[] pGetSystemObjectBean() {
        return getSystem[sbyntag:objname]();
    }
    
    /**
     * Return the ith SystemObjectBean of the EnterpriseObject object
     *
     * @param index index of SystemObjectBean
     * @return SystemObjectBean
     */
    public SystemObjectBean pGetSystemObjectBean(int index) {
        return getSystem[sbyntag:objname](index);
    }
    
    /**
     * Setter for EUID attribute of the EnterpriseObject object
     *
     * @param euid EUID
     * @exception ObjectException ObjectException
     */
    public void setEUID(String euid) throws ObjectException {
        mEUID = euid;
    }

    /**
     * Setter for status attribute of the EnterpriseObject object
     *
     * @param status String
     * @exception ObjectException ObjectException
     */
    public void setStatus(String status) throws ObjectException {
        mStatus = status;
    }

    /**
     * Setter for System[sbyntag:objname] of the EnterpriseObject object
     *
     * @param system[sbyntag:objname]s System[sbyntag:objname][]
     * @exception ObjectException ObjectException
     */
    public void setSystem[sbyntag:objname](System[sbyntag:objname][] system[sbyntag:objname]s) throws ObjectException {
        mSystem[sbyntag:objname]s = system[sbyntag:objname]s;
    }

    /**
     * Adds collection of System[sbyntag:objname] to the EnterpriseObject
     * object
     *
     * @param system[sbyntag:objname]s The collection System[sbyntag:objname][] to be added
     * @exception ObjectException ObjectException
     */
    private void pSetSystem[sbyntag:objname]s(System[sbyntag:objname][] system[sbyntag:objname]s) throws ObjectException {
        Collection systems = new ArrayList();
        for (int i = 0; i < system[sbyntag:objname]s.length; i++) {
            systems.add(system[sbyntag:objname]s[i].pGetSystemObject());
        }
        meo.addSystemObjects(systems);    
        pSetSystem[sbyntag:objname]s(); 
    }

    /**
     * Removes a SystemObject from EnterpriseObject
     *
     * @param system SystemCode
     * @param lid LocalID
     * @exception ObjectException ObjectException
     */
    public void removeSystemObject(String system, String lid) throws ObjectException {
        meo.removeSystemObject(system, lid);       
    }

    /**
     * Mark a SystemObject from EnterpriseObject for deletion
     *
     * @param system SystemCode
     * @param lid LocalID
     * @exception ObjectException ObjectException
     */
    public void deleteSystemObject(String system, String lid) throws ObjectException {
        meo.deleteSystemObject(system, lid);  
    }

    /**
     * Removes a SystemObject from EnterpriseObject
     *
     * @param system SystemCode
     * @param lid LocalID
     * @exception ObjectException ObjectException
     */
    public void removeSystemObjectBean(String system, String lid) throws ObjectException {
        removeSystemObject(system, lid);
    }

    /**
     * Mark a SystemObject from EnterpriseObject for deletion
     *
     * @param system SystemCode
     * @param lid LocalID
     * @exception ObjectException ObjectException
     */
    public void deleteSystemObjectBean(String system, String lid) throws ObjectException {
        deleteSystemObject(system, lid);
    }
    
    public EnterpriseObject pGetEnterpriseObject() {
        return meo;
    }
    
    /**
     * update SystemObject in an EnterpriseObject
     *
     * @param eo EnterpriseObject
     * @exception ObjectException ObjectException
     * @exception SystemObjectException SystemObjectException
     */
    public EnterpriseObject pUpdateEnterpriseObject(EnterpriseObject eo) throws ObjectException, SystemObjectException {
        UpdateHelper helper = new UpdateHelper();
        for (int i = 0; i < mSystem[sbyntag:objname]s.length; i++) {
            SystemObject so = mSystem[sbyntag:objname]s[i].pGetSystemObject();
            if(null!=eo.getSystemObject(so.getSystemCode(), so.getLID())){
                helper.updateSO(so, eo, true, true);
            }else{
                eo.addSystemObject(so);
            }
        }
        return eo;
    }

    private void pSetSystem[sbyntag:objname]s() throws ObjectException {
        Collection systems = meo.getSystemObjects();
        int size = systems.size();
        mSystem[sbyntag:objname]s = new System[sbyntag:objname][size];
        Iterator iterator = systems.iterator();
        for (int i = 0; iterator.hasNext(); i++  ) {
            SystemObject so = (SystemObject) iterator.next();
            mSystem[sbyntag:objname]s[i] = new System[sbyntag:objname](so);
        }
    }
     
}
