[SBYNTAG:DEFINE:objname]
/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2003-2007 Sun Microsystems, Inc. All Rights Reserved.
 *
 * The contents of this file are subject to the terms of the Common 
 * Development and Distribution License ("CDDL")(the "License"). You 
 * may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the License at
 * https://open-dm-mi.dev.java.net/cddl.html
 * or open-dm-mi/bootstrap/legal/license.txt. See the License for the 
 * specific language governing permissions and limitations under the  
 * License.  
 *
 * When distributing the Covered Code, include this CDDL Header Notice 
 * in each file and include the License file at
 * open-dm-mi/bootstrap/legal/license.txt.
 * If applicable, add the following below this CDDL Header, with the 
 * fields enclosed by brackets [] replaced by your own identifying 
 * information: "Portions Copyrighted [year] [name of copyright owner]"
 */

package com.sun.mdm.index.webservice;
import com.sun.mdm.index.objects.*;
import com.sun.mdm.index.objects.exception.*;
import com.sun.mdm.index.webservice.SBRObjectBean;
import com.sun.mdm.index.webservice.ObjectBean;


/**
 * @author 
 * @version
 */
public class SBR[sbyntag:objname] implements SBRObjectBean{
    public static final int version = 1;
     
    private SBR msbr;
    private [sbyntag:objname.makeClassName]Bean m[sbyntag:objname];

    public SBR[sbyntag:objname]() {
    }
    
    protected SBR[sbyntag:objname](SBR sbr) throws ObjectException {
      msbr = sbr; 
      m[sbyntag:objname] = new [sbyntag:objname.makeClassName]Bean(([sbyntag:objname.makeClassName]Object)sbr.getObject());
    }

    /**
     * Getter for SBR object
     * @return SBR object
     */
    public SBR pGetSBRObject() {
       return msbr;
    }
    
    
    /**
     * @return [sbyntag:objname.makeClassName] object
     * @exception ObjectException Object Exception
     */
    public [sbyntag:objname.makeClassName]Bean get[sbyntag:objname.makeClassName]() {
       return m[sbyntag:objname];  
    }


    /**
     * @return object bean
     * @exception ObjectException Object Exception
     */
    public ObjectBean pGetObjectBean() {
       return get[sbyntag:objname.makeClassName]();  
    }
    

    /**
     * @exception ObjectException object exception
     * @return status status
     */
    public String getStatus()  throws ObjectException {
      return msbr.getStatus();
    }

 

    /**
     * @param obj object
     * @exception ObjectException object exception
     * @todo Document: Setter for Object attribute of the SBR object
     */
    protected void set[sbyntag:objname.makeClassName]([sbyntag:objname.makeClassName]Bean a[sbyntag:objname])
        throws ObjectException {
         msbr.setObject(a[sbyntag:objname].pGetObject()); 
         m[sbyntag:objname] = a[sbyntag:objname];        
    }

 

    /**
     * @param status status
     * @exception ObjectException object exception
     * @todo Document: Setter for UpdateUser attribute of the SBR object
     */
    public void setStatus(String status) throws ObjectException {
      msbr.setStatus(status);
    }
    
}