[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname]
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:fieldname]"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]City"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]State"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]PostCode"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]PostExt"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Country"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]CityPhon"/>
