[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname,fieldtype,fieldsize,updateable,required,keytype,visible]
		<fields>
			<field-name>[sbyntag:genfieldprefix]City</field-name>
			<field-type>string</field-type>
			<size>30</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]State</field-name>
			<field-type>string</field-type>
			<size>3</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]PostCode</field-name>
			<field-type>string</field-type>
			<size>5</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]PostExt</field-name>
			<field-type>string</field-type>
			<size>4</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]Country</field-name>
			<field-type>string</field-type>
			<size>2</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>
		<fields>
			<field-name>[sbyntag:genfieldprefix]CityPhon</field-name>
			<field-type>string</field-type>
			<size>8</size>
			<updateable>true</updateable>
			<required>false</required>
			<key-type>false</key-type>
			<visible>true</visible>
		</fields>		