CREATE TABLE CLUSTER_BUCKET
(
  ID          INTEGER,
  BUCKETNAME  VARCHAR2(100 BYTE)                NOT NULL,
  LOADERNAME  VARCHAR2(100 BYTE),
  TYPE        INTEGER,
  STATE       INTEGER,
  VERSIONNO   INTEGER
)
LOGGING 
NOCACHE
NOPARALLEL
NOMONITORING;



CREATE UNIQUE INDEX CLUSTER_BUCKET_PK ON CLUSTER_BUCKET
(ID)
LOGGING
NOPARALLEL;


ALTER TABLE CLUSTER_BUCKET ADD (
  CONSTRAINT CLUSTER_BUCKET_PK
 PRIMARY KEY
 (ID));

ALTER TABLE CLUSTER_BUCKET ADD (
  CONSTRAINT CLUSTER_BUCKET_UK
 UNIQUE (BUCKETNAME, LOADERNAME));




DROP SEQUENCE BUCKET_ID_SEQ;

CREATE SEQUENCE BUCKET_ID_SEQ
  START WITH 1
  MAXVALUE 999999999999999999999999999
  MINVALUE 1
  NOCYCLE
  NOCACHE
  NOORDER;



 CREATE TABLE LOADER
(
  NAME         VARCHAR2(100 BYTE)               NOT NULL,
  MACHINENAME  VARCHAR2(100 BYTE),
  RMIPORT      INTEGER,
  ISMASTER     INTEGER,
  STATE        INTEGER,
  WORKINGDIR   VARCHAR2(200 BYTE)               NOT NULL
)
LOGGING 
NOCACHE
NOPARALLEL
NOMONITORING;


ALTER TABLE LOADER ADD (
  PRIMARY KEY
 (NAME));


CREATE TABLE ANALYSIS_STATE
(
  STATE       INTEGER,
  ISMASTER    INTEGER,
  LOADERNAME  VARCHAR2(100 BYTE),
  DONE        INTEGER
);
ALTER TABLE ANALYSIS_STATE ADD (
  UNIQUE (LOADERNAME));
