CREATE TABLE CLUSTER_BUCKET
(
  ID          bigint not null auto_increment,
  BUCKETNAME  varchar(100) NOT NULL,
  LOADERNAME  varchar(100),
  TYPE        int,
  STATE       int,
  VERSIONNO   int,
  CONSTRAINT PK_CLUSTER_BUCKET PRIMARY KEY (ID),
  CONSTRAINT CLUSTER_BUCKET_UK UNIQUE (BUCKETNAME, LOADERNAME)
);

CREATE UNIQUE INDEX CLUSTER_BUCKET_LOADER ON  CLUSTER_BUCKET (BUCKETNAME, LOADERNAME);

CREATE TABLE LOADER
(
  NAME         varchar(100) NOT NULL,
  MACHINENAME  varchar(100),
  RMIPORT      int,
  ISMASTER     int,
  STATE        int,
  WORKINGDIR   varchar(200) NOT NULL,
  CONSTRAINT PK_LOADER PRIMARY KEY (NAME)
);

CREATE TABLE ANALYSIS_STATE
(
  STATE       int,
  ISMASTER    int,
  LOADERNAME  varchar(100),
  DONE        int,
  CONSTRAINT PK_ANALYSIS_STATE PRIMARY KEY (LOADERNAME)
);
