<?xml version="1.0" encoding="UTF-8" ?>
<rules>

<rule role="Observer" action="talk">

Subject: your ${role} role in the ${project} project
From: owner@${project}.dev.java.net
Reply-To: owner@${project}.dev.java.net
To: ${user}@dev.java.net
CC: owner@${project}.dev.java.net

Hello ${user},

Thank you for requesting an observer role for the ${project} project.
In order to continue our review process and consideration, it would
be helpful if you could provide us with some additional details about
yourself :

- Can you provide your full name and affiliated company if applicable?
- Tell us more about yourself including any open source development experience.
- Why do you want to join the ${project} project?  What areas are you interested in?
- Please review the governance policy located at https://mural.dev.java.net/governance.html

We look forward to hearing from you at your earliest convenience so we can continue our evaluation of your role request.
 
</rule>

<rule role="Project Owner" action="deny">

I'm sorry, but we can't accept your project owner request.

</rule>

<rule role="Developer, Content Developer" action="talk">

Subject: your ${role} role in the ${project} project
From: owner@${project}.dev.java.net
Reply-To: owner@${project}.dev.java.net
To: ${user}@dev.java.net
CC: owner@${project}.dev.java.net

Hello ${user},

Thank you for requesting the developer role for the ${project} project.
In order to continue our review process and consideration, it would
be helpful if you could provide us with some additional details about
yourself :

- Can you provide your full name and affiliated company if applicable?
- Why do you want to become a developer for the ${project} project?
- Tell us more about yourself including any open source development experience.
- What areas are you interested in? Have you already had contacts with existing developers in those areas?
- Have you submitted any patches or bug fixes to the ${project} project already? If yes, issue id and patch details?
- Please review the governance policy located at https://mural.dev.java.net/governance.html

We look forward to hearing from you at your earliest convenience so we can continue our evaluation of your role request. 

</rule>

</rules>

