[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix]
                <group standardization-type="Address" domain-selector="com.sun.mdm.index.matching.impl.MultiDomainSelector">
                    <locale-field-name></locale-field-name>
                    <locale-maps>
                        <locale-codes>
                            <value>Default</value>
                            <locale>US</locale>
                        </locale-codes>
                    </locale-maps>
                    <unstandardized-source-fields>
[SBYNTAG:REP-BEGIN]
                        <unstandardized-source-field-name>[sbyntag:sourcefieldnames()]</unstandardized-source-field-name>
[SBYNTAG:REP-END]
                    </unstandardized-source-fields>
                    <standardization-targets>
                        <target-mapping>
                            <standardized-object-field-id>HouseNumber</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>RuralRouteIdentif</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>BoxIdentif</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>MatchStreetName</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StName</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>RuralRouteDescript</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StName</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>BoxDescript</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StName</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>PropDesPrefDirection</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StDir</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>PropDesSufDirection</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StDir</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>StreetNamePrefDirection</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StDir</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>StreetNameSufDirection</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StDir</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>StreetNameSufType</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StType</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>StreetNamePrefType</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StType</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>PropDesSufType</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StType</standardized-target-field-name>
                        </target-mapping>
                        <target-mapping>
                            <standardized-object-field-id>PropDesPrefType</standardized-object-field-id>
                            <standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StType</standardized-target-field-name>
                        </target-mapping>
                    </standardization-targets>
                </group>