[SBYNTAG:DEFINE:objname,qualifiednodename,genfieldprefix,fieldname,blockdefinitionid]
                <block-definition number="[sbyntag:blockdefinitionid]">
                    <block-rule>
                        <equals>
                            <field>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</field>
                            <source>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</source>
                        </equals>
                        <equals>
                            <field>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StPhon</field>
                            <source>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StPhon</source>
                        </equals>
                    </block-rule>
                </block-definition>