[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname]
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:fieldname]"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Name"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]NamePhon"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Type"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]StandType"/>
