/* CSS for Adminster section of MDWM */

.button_spacing {
    padding-left:6px;
}

.mainLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#343535;
    font-weight:bold;
}

.formLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#343535;
    font-weight:bold;
}


.Box {
    border: 1px solid #59707b;
    background-color: #F9F9F0;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;
  }
  .Box .TitleBar{
    height:24px;
    background-color: #6E828C;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
}
.Box .Content{

    padding-left:5px;
    padding-top:5px;
    padding-right:5px;
}
  
/* Styles used in Overlay windows */
.MainBox {
    border: 1px solid #59707b;
    background-color: #FFFFFF;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;
  }
.MainBox .TitleBar{
    height:24px;
    background-color: #6E828C;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
}
.MainBox .Content{
    padding-left:10px;
    padding-top:6px;
    padding-right:10px;
    padding-bottom:5px;
}

.InnerBox {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;
  }
.InnerBox .TitleBar{
    height:24px;
    background-color: #A4936E;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
    
}

.InnerBox .Content{
    background-color: #f9f7de;
    padding-left:5px;
    padding-top:5px;
}

.palleteButton { 
    cursor:pointer;
}

.AttributesListing {
    border-collapse: collapse;
    
}
.AttributesListing .header{
    background-color: #DDD7C9;
}
.AttributesListing_dataItem{
    padding: 4px; border: 1px solid #CCC;
    background-color:#ff0000;
}

.DefsListing {
    background-color: #F9F9F0;
    border: 1px solid #6E828C;
}
.DefsListing .header {
    background-color: #DDDDDD;
    text-align:left;
}
.DefsListing .header .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    padding-left:2px;
    background-color: #DDDDDD;
}
.DefsListing tbody {
    background-color: #FFFFFF;
}
.DefsListing tbody tr {
    height:24px;
}
.DefsListing tbody tr td{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    border-bottom: 1px solid #F9F9F0;
    padding-left:2px;
}
.DefsListing tbody tr td input {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    height:20px;
}
.DefsListing .vSpacing {
    background-color: #CCCCCC;
}
.DefsListing .hSpacing {
    background-color: #FFFFFF;
}

.ScrollablePane{
    height:170px;
    overflow: auto;
    border: 1px solid #a4936e;
}

		