/* CSS for Adminster section of MDWM */

.button_spacing {
    padding-left:6px;
}

.mainLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#343535;
    font-weight:bold;
}

.formLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#343535;
    font-weight:bold;
}


.Box {
    position: relative;
    border: 1px solid #59707b;
    background-color: #F9F9F0;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;
  }
  .Box .TitleBar{
    height:24px;
    background-color: #6E828C;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
}
.Box .Content{

    padding-left:5px;
    padding-top:5px;
    padding-right:5px;
}
  
/* Styles used in Overlay windows */
.MainBox {
    position: relative;
    border: 1px solid #59707b;
    background-color: #FFFFFF;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;
  }
.MainBox .TitleBar{
    height:24px;
    background-color: #6E828C;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
}
.MainBox .Content{
    padding-left:10px;
    padding-top:6px;
    padding-right:10px;
    padding-bottom:5px;
}

.InnerBox {
    position: relative;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;
  }
.InnerBox .TitleBar{
    height:24px;
    background-color: #A4936E;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
    
}

.InnerBox .Content{
    background-color: #f9f7de;
    padding-left:5px;
    padding-top:5px;
}


#addbutton { 
    width:auto;
    background-image: url(../images/icons/add.png);
    background-repeat:no-repeat;
    background-color: transparent;
    padding-left:20px; 
}
#deletebutton { 
    width:auto;
    background-image: url(../images/icons/delete.png);
    background-repeat:no-repeat;
    background-color: transparent;
    padding-left:15px; 
}

.AttributesListing {
    border-collapse: collapse;
}
.AttributesListing .header{
    background-color: #EEE;
}
.AttributesListing .dataItem{
    padding: 4px; border: 1px solid #CCC;
}

.RelationshipsListing {
    position: relative;
    background-color: #F9F9F0;
    border: 1px solid #6E828C;
}
.RelationshipsListing .header {
    background-color: #DDDDDD;
    text-align:left;
}
.RelationshipsListing .header .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    padding-left:2px;
    background-color: #DDDDDD;
}
.RelationshipsListing tbody {
    background-color: #FFFFFF;
}
.RelationshipsListing tbody tr {
    height:24px;
}
.RelationshipsListing tbody tr td{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#343535;
    font-weight:normal;
    border-bottom: 1px solid #F9F9F0;
    padding-left:2px;
}
.RelationshipsListing tbody tr td input {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    height:20px;
}
.RelationshipsListing .vSpacing {
    background-color: #CCCCCC;
}
.RelationshipsListing .hSpacing {
    background-color: #FFFFFF;
}

		