/* this is main cascading style sheets(css) for multidomain web application */

table.relationshiptypetable {
table-layout: auto;
caption-side: left;
border-collapse: collapse;
}

div#head {
position:absolute; 
top: 0px;
left: 0px; 
background-color: #E4EFF3;
background-image: url(../images/sun-logo.png);
background-position: 100px 1px;
background-repeat: no-repeat; 
height: 50px; width:100%; 
padding:0px; 
border: none;
margin: 0;
}
		