CREATE TABLE DOMAINS
(
    DOMAIN_NAME           VARCHAR2(128) NOT NULL,
    CONTEXT_FACTORY       VARCHAR2(255),
    URL                   VARCHAR2(255),
    PRINCIPAL             VARCHAR2(255),
    CREDENTIAL            VARCHAR2(255),
    PRIMARY KEY(DOMAIN_NAME)   
);

CREATE TABLE RELATIONSHIP_DEF
(
    RELATIONSHIP_DEF_ID    NUMBER(10) NOT NULL,
    RELATIONSHIP_NAME      VARCHAR2(128) NOT NULL,
    DESCRIPTION            VARCHAR2(255),
    SOURCE_DOMAIN          VARCHAR2(128) NOT NULL,
    TARGET_DOMAIN          VARCHAR2(128) NOT NULL,
    BIDIRECTIONAL          CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_DEF_DIR CHECK (BIDIRECTIONAL IN ('T','F')),
    EFFECTIVE_FROM_REQ     CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_DEF_EFF_FROM_REQ CHECK (EFFECTIVE_FROM_REQ IN ('T','F')),
    EFFECTIVE_TO_REQ       CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_DEF_EFF_TO_REQ CHECK (EFFECTIVE_TO_REQ IN ('T','F')),
    PURGE_DATE_REQ         CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_DEF_PURGE_DATE_REQ CHECK (PURGE_DATE_REQ IN ('T','F')),
    EFFECTIVE_FROM_INCL    CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_DEF_EFF_FROM_INCL CHECK (EFFECTIVE_FROM_INCL IN ('T','F')),
    EFFECTIVE_TO_INCL      CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_DEF_EFF_TO_INCL CHECK (EFFECTIVE_TO_INCL IN ('T','F')),
    PURGE_DATE_INCL        CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_DEF_PURGE_INCL CHECK (PURGE_DATE_INCL IN ('T','F')),
    PLUGIN		           VARCHAR2(255),
    CONSTRAINT PK_RELATIONSHIP_DEF PRIMARY KEY (RELATIONSHIP_DEF_ID) USING INDEX
);

ALTER TABLE RELATIONSHIP_DEF ADD CONSTRAINT FK_REL_DEF_SOURCE_DOMAIN FOREIGN KEY (SOURCE_DOMAIN) REFERENCES DOMAINS(DOMAIN_NAME);
ALTER TABLE RELATIONSHIP_DEF ADD CONSTRAINT FK_REL_DEF_TARGET_DOMAIN FOREIGN KEY (TARGET_DOMAIN) REFERENCES DOMAINS(DOMAIN_NAME);

CREATE SEQUENCE RELATIONSHIP_DEF_SEQ
START WITH 1
INCREMENT BY 1;

CREATE TABLE RELATIONSHIP_EA
(
    EA_ID                  NUMBER(10) NOT NULL,
    RELATIONSHIP_DEF_ID    NUMBER(10) NOT NULL,
    ATTRIBUTE_NAME         VARCHAR2(128) NOT NULL,
    COLUMN_NAME	           VARCHAR2(128) NOT NULL,
    COLUMN_TYPE	           VARCHAR2(128) NOT NULL,
    DEFAULT_VALUE          VARCHAR2(255),
    IS_SEARCHABLE          CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_EA_IS_SEARCHABLE CHECK (IS_SEARCHABLE IN ('T','F')),
    IS_REQUIRED            CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_REL_EA__IS_REQUIRED CHECK (IS_REQUIRED IN ('T','F')),
     CONSTRAINT PK_REL_EX_ATTRIBUTES PRIMARY KEY (EA_ID) USING INDEX
);

ALTER TABLE RELATIONSHIP_EA ADD CONSTRAINT FK_REL_EXTATTR_ATTR_ID FOREIGN KEY (RELATIONSHIP_DEF_ID) REFERENCES RELATIONSHIP_DEF(RELATIONSHIP_DEF_ID);

CREATE SEQUENCE RELATIONSHIP_EA_SEQ
START WITH 1
INCREMENT BY 1;

CREATE TABLE RELATIONSHIP
(
    RELATIONSHIP_ID       NUMBER(10) NOT NULL,
    RELATIONSHIP_DEF_ID   NUMBER(10) NOT NULL,
    SOURCE_EUID           VARCHAR2(128) NOT NULL,
    TARGET_EUID           VARCHAR2(128) NOT NULL,
    EFFECTIVE_FROM_DATE   DATE,
    EFFECTIVE_TO_DATE     DATE,
    PURGE_DATE            DATE,
    CONSTRAINT PK_RELATIONSHIP PRIMARY KEY (RELATIONSHIP_ID) USING INDEX
);

ALTER TABLE RELATIONSHIP ADD CONSTRAINT FK_REL_DEF_ID FOREIGN KEY (RELATIONSHIP_DEF_ID) REFERENCES RELATIONSHIP_DEF(RELATIONSHIP_DEF_ID);

CREATE SEQUENCE RELATIONSHIP_SEQ
START WITH 1
INCREMENT BY 1;

CREATE TABLE RELATIONSHIP_EAV 
(
    EAV_ID                NUMBER(10) NOT NULL,
    RELATIONSHIP_ID       NUMBER(10) NOT NULL,
    <repeat-relationship-eav>
    <column-name> <column-type>,
    </repeat-relationship-eav>
    CONSTRAINT PK_RELATIONSHIP_EAV PRIMARY KEY (EAV_ID) USING INDEX
);

ALTER TABLE RELATIONSHIP_EAV ADD CONSTRAINT FK_REL_EAV_REL_ID FOREIGN KEY (RELATIONSHIP_ID) REFERENCES RELATIONSHIP(RELATIONSHIP_ID);

CREATE SEQUENCE RELATIONSHIP_EAV_SEQ
START WITH 1
INCREMENT BY 1;

CREATE TABLE HIERARCHY_DEF
(
    HIERARCHY_DEF_ID      NUMBER(10) NOT NULL,
    HIERARCHY_NAME        VARCHAR2(128) NOT NULL,
    DOMAIN                VARCHAR2(128) NOT NULL,
    DESCRIPTION           VARCHAR2(255),
    EFFECTIVE_FROM_DATE   DATE, 
    EFFECTIVE_TO_DATE     DATE, 
    EFFECTIVE_FROM_REQ    CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_HIER_DEF_EFF_FROM_REQ CHECK (EFFECTIVE_FROM_REQ IN ('T','F')),
    EFFECTIVE_TO_REQ      CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_HIER_DEF_EFF_TO_REQ CHECK (EFFECTIVE_TO_REQ IN ('T','F')),
    EFFECTIVE_FROM_INCL   CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_HIER_DEF_EFF_FROM_INCL CHECK (EFFECTIVE_FROM_INCL IN ('T','F')),
    EFFECTIVE_TO_INCL     CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_HIER_DEF_EFF_TO_INCL CHECK (EFFECTIVE_TO_INCL IN ('T','F')),
    PLUGIN		            VARCHAR2(255),
    CONSTRAINT PK_HIERARCHY_DEF PRIMARY KEY (HIERARCHY_DEF_ID) USING INDEX
);

ALTER TABLE HIERARCHY_DEF ADD CONSTRAINT FK_HIER_DEF_DOMAIN FOREIGN KEY (DOMAIN) REFERENCES DOMAINS(DOMAIN_NAME);

CREATE SEQUENCE HIERARCHY_DEF_SEQ
START WITH 1
INCREMENT BY 1;

CREATE TABLE HIERARCHY_NODE_EA
(
    EA_ID               NUMBER(10) NOT NULL,
    HIERARCHY_DEF_ID    NUMBER(10) NOT NULL,
    ATTRIBUTE_NAME      VARCHAR2(128) NOT NULL,
    COLUMN_NAME	        VARCHAR2(128) NOT NULL,
    COLUMN_TYPE	        VARCHAR2(128) NOT NULL,
    DEFAULT_VALUE       VARCHAR2(255),
    IS_SEARCHABLE       CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_HIER_NODE_EA_SEARCHABLE CHECK (IS_SEARCHABLE IN ('T','F')),
    IS_REQUIRED         CHAR(1) DEFAULT 'F' NOT NULL CONSTRAINT CHK_HIER_NODE_EA_REQUIRED CHECK (IS_REQUIRED IN ('T','F')),
    CONSTRAINT PK_HIER_NODE_EA PRIMARY KEY (EA_ID) USING INDEX
);

ALTER TABLE HIERARCHY_NODE_EA ADD CONSTRAINT FK_HIER_NODE_EA_ATTR_ID FOREIGN KEY (HIERARCHY_DEF_ID) REFERENCES HIERARCHY_DEF(HIERARCHY_DEF_ID);

CREATE SEQUENCE HIERARCHY_NODE_EA_SEQ
START WITH 1
INCREMENT BY 1;

CREATE TABLE HIERARCHY_NODE
(
    HIERARCHY_NODE_ID    NUMBER(10) NOT NULL,
    HIERARCHY_DEF_ID     NUMBER(10) NOT NULL,
    PARENT_NODE_ID       NUMBER(10),
    EUID                 VARCHAR2(128) NOT NULL,
    PARENT_EUID          VARCHAR2(128),
    EFFECTIVE_FROM_DATE  DATE, 
    EFFECTIVE_TO_DATE    DATE, 
    CONSTRAINT PK_HIERARCHY PRIMARY KEY (HIERARCHY_NODE_ID) USING INDEX
);

ALTER TABLE HIERARCHY_NODE ADD CONSTRAINT FK_HIER_DEF_ID FOREIGN KEY (HIERARCHY_DEF_ID) REFERENCES HIERARCHY_DEF(HIERARCHY_DEF_ID);

CREATE SEQUENCE HIERARCHY_NODE_SEQ
START WITH 1
INCREMENT BY 1;

CREATE TABLE HIERARCHY_NODE_EAV (
    EAV_ID              NUMBER(10) NOT NULL,
    HIERARCHY_NODE_ID   NUMBER(10) NOT NULL,
    <repeat-hierarchy-eav>
    <column-name> <column-type>,
    </repeat-hierarchy-eav>
    CONSTRAINT PK_HIERARCHY_NODE_EAV PRIMARY KEY (EAV_ID) USING INDEX
);

CREATE SEQUENCE HIERARCHY_NODE_EAV_SEQ
START WITH 1
INCREMENT BY 1;

ALTER TABLE HIERARCHY_NODE_EAV ADD CONSTRAINT FK_HIER_NODE_EAV_HIER_NODE_ID FOREIGN KEY (HIERARCHY_NODE_ID) REFERENCES HIERARCHY_NODE(HIERARCHY_NODE_ID);

CREATE OR REPLACE TRIGGER RELATIONSHIP_DEF_TRIG
BEFORE INSERT ON RELATIONSHIP_DEF REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT RELATIONSHIP_DEF_SEQ.NEXTVAL INTO :NEW.RELATIONSHIP_DEF_ID FROM DUAL;
END;
/

CREATE OR REPLACE TRIGGER RELATIONSHIP_EA_TRIG
BEFORE INSERT ON RELATIONSHIP_EA REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT RELATIONSHIP_EA_SEQ.NEXTVAL INTO :NEW.EA_ID FROM DUAL;
END;
/

CREATE OR REPLACE TRIGGER RELATIONSHIP_TRIG
BEFORE INSERT ON RELATIONSHIP REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT RELATIONSHIP_SEQ.NEXTVAL INTO :NEW.RELATIONSHIP_ID FROM DUAL;
END;
/

CREATE OR REPLACE TRIGGER RELATIONSHIP_EAV_TRIG
BEFORE INSERT ON RELATIONSHIP_EAV REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT RELATIONSHIP_EAV_SEQ.NEXTVAL INTO :NEW.EAV_ID FROM DUAL;
END;
/

CREATE OR REPLACE TRIGGER HIERARCHY_DEF_TRIG
BEFORE INSERT ON HIERARCHY_DEF REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT HIERARCHY_DEF_SEQ.NEXTVAL INTO :NEW.HIERARCHY_DEF_ID FROM DUAL;
END;
/

CREATE OR REPLACE TRIGGER HIERARCHY_NODE_EA_TRIG
BEFORE INSERT ON HIERARCHY_NODE_EA REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT HIERARCHY_NODE_EA_SEQ.NEXTVAL INTO :NEW.EA_ID FROM DUAL;
END;
/

CREATE OR REPLACE TRIGGER HIERARCHY_NODE_TRIG
BEFORE INSERT ON HIERARCHY_NODE REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT HIERARCHY_NODE_SEQ.NEXTVAL INTO :NEW.HIERARCHY_NODE_ID FROM DUAL;
END;
/

CREATE OR REPLACE TRIGGER HIERARCHY_NODE_EAV_TRIG
BEFORE INSERT ON HIERARCHY_NODE_EAV REFERENCING NEW AS NEW
FOR EACH ROW
BEGIN
    SELECT HIERARCHY_NODE_EAV_SEQ.NEXTVAL INTO :NEW.EAV_ID FROM DUAL;
END;
/


CREATE INDEX RELATIONSHIP_EA_FK1 on RELATIONSHIP_EA (RELATIONSHIP_DEF_ID);

CREATE INDEX RELATIONSHIP_FK1 on RELATIONSHIP (RELATIONSHIP_DEF_ID);

CREATE INDEX RELATIONSHIP_EAV_FK1 on RELATIONSHIP_EAV (RELATIONSHIP_ID);

CREATE INDEX HIERARCHY_NODE_EA_FK1 on HIERARCHY_NODE_EA (HIERARCHY_DEF_ID);

CREATE INDEX HIERARCHY_NODE_FK1 on HIERARCHY_NODE (HIERARCHY_DEF_ID);

CREATE INDEX HIERARCHY_NODE_EAV_FK1 on HIERARCHY_NODE_EAV (HIERARCHY_NODE_ID);
 
-- ****   Indices for searchable extended attributes   ****
<repeat-index>
CREATE INDEX RELATIONSHIP_EAV_<column-name>_IDX on RELATIONSHIP_EAV (<column-name>);
</repeat-index>
    
<repeat-index>
CREATE INDEX HIER_NODE_EAV_<column-name>_IDX on HIERARCHY_NODE_EAV (<column-name>);
</repeat-index>

<repeat-domain>
INSERT INTO DOMAINS (DOMAIN_NAME) VALUES ('<domain_name>');
</repeat-domain>



<repeat-relationship>
<comment> INSERT INTO RELATIONSHIP_DEF VALUES (0, '<relationship_name>', '<description>',  '<source_domain>', '<target_domain>', '<bi_directional>', '<effective_from_req>', '<effective_to_req>', '<purge_date_req>', '<effective_from_incl>', '<effective_to_incl>', '<purge_date_incl>', '<plugin>');
<repeat-definition-relationship-ea>
<comment> INSERT INTO RELATIONSHIP_EA VALUES (0, RELATIONSHIP_DEF_SEQ.CURRVAL , '<attribute_name>', '<column_name>', '<column_type>', '<default_value>', '<is_searchable>', '<is_required>');
</repeat-definition-relationship-ea>
</repeat-definition-relationship>

<repeat-definition-hierarchy>
<comment> INSERT INTO HIERARCHY_DEF VALUES (0, '<hierarchy_name>', '<domain>', '<hierarchy_description>', <effective_from_date>, <effective_to_date>, '<effective_from_req>', '<effective_to_req>', '<effective_from_incl>', '<effective_to_incl>', '<plugin>');
<repeat-definition-hierarchy-ea>
<comment> INSERT INTO HIERARCHY_NODE_EA VALUES (0, HIERARCHY_DEF_SEQ.CURRVAL, '<attribute_name>', '<column_name>', '<column_type>', '<default_value>', '<is_searchable>', '<is_required>');
</repeat-definition-hierarchy-ea>
</repeat-definition-hierarchy>
