DROP TABLE DOMAINS;
DROP TABLE RELATIONSHIP_EAV;
DROP TABLE RELATIONSHIP_EA;
DROP TABLE RELATIONSHIP;
DROP TABLE RELATIONSHIP_DEF;
DROP TABLE HIERARCHY_NODE_EAV;
DROP TABLE HIERARCHY_NODE_EA;
DROP TABLE HIERARCHY_NODE;
DROP TABLE HIERARCHY_DEF;

DROP SEQUENCE RELATIONSHIP_DEF_SEQ;
DROP SEQUENCE RELATIONSHIP_EA_SEQ;
DROP SEQUENCE RELATIONSHIP_SEQ;
DROP SEQUENCE RELATIONSHIP_EAV_SEQ;
DROP SEQUENCE HIERARCHY_DEF_SEQ;
DROP SEQUENCE HIERARCHY_NODE_EA_SEQ;
DROP SEQUENCE HIERARCHY_NODE_SEQ;
DROP SEQUENCE HIERARCHY_NODE_EAV_SEQ;