[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix,fieldname()]
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Name</column-name>
					<match-type>PrimaryName</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]OrgType</column-name>
					<match-type>OrgTypeKeyword</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]AssocType</column-name>
					<match-type>AssocTypeKeyword</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Sector</column-name>
					<match-type>IndustrySectorList</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Industry</column-name>
					<match-type>IndustryTypeKeyword</match-type>
				</match-column>
				<match-column>
					<column-name>Enterprise.SystemSBR.[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]Url</column-name>
					<match-type>Url</match-type>
				</match-column>