[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname]
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:fieldname]"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Name"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]NamePhon"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]OrgType"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]AssocType"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Sector"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Industry"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Alias"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]Url"/>