[SBYNTAG:DEFINE:objname,pname,fieldname(),fieldtypename(),fieldtype(),keylist(),nulllist(),seclist()]
package com.sun.mdm.index.objects;

import java.util.*;
import com.sun.mdm.index.objects.exception.*;
import com.sun.mdm.index.util.LogUtil;
import com.sun.mdm.index.util.Logger;

public final class [sbyntag:objname.makeClassName]Object extends ObjectNode
{
    private static ArrayList mFieldNames;
    private static ArrayList mFieldTypes;
    private final Logger mLogger = LogUtil.getLogger(this.getClass().getName());
    
    static
    {
        mFieldNames = new ArrayList();
[SBYNTAG:REP-BEGIN]    
        mFieldNames.add("[sbyntag:fieldname()]");
[SBYNTAG:REP-END]
        mFieldTypes = new ArrayList();
[SBYNTAG:REP-BEGIN]    
        mFieldTypes.add(new Integer([sbyntag:fieldtypename()]));
[SBYNTAG:REP-END]
    }
    
    public [sbyntag:objname.makeClassName]Object() throws ObjectException
    {
        super("[sbyntag:objname]", mFieldNames, mFieldTypes);
        mParentTag = "[sbyntag:pname]";
        mChildTags = new ArrayList();
[SBYNTAG:REP-BEGIN]
        mChildTags.add("[sbyntag:seclist()]");
[SBYNTAG:REP-END]
        mTag = "[sbyntag:objname]";
[SBYNTAG:REP-BEGIN]
        setKeyType("[sbyntag:fieldname()]", [sbyntag:keylist()]);
[SBYNTAG:REP-END]
[SBYNTAG:REP-BEGIN]
        setNullable("[sbyntag:fieldname()]", [sbyntag:nulllist()]);
[SBYNTAG:REP-END]
    }

    public String getObjectId() throws ObjectException
    {
        return (get[sbyntag:objname.makeClassName]Id());
    }

[SBYNTAG:REP-BEGIN]    
    public [sbyntag:fieldtype()] get[sbyntag:fieldname().makeClassName]() throws ObjectException
    {
        try
        {
            return (([sbyntag:fieldtype()])getValue("[sbyntag:fieldname()]"));
        }
        catch (ObjectException e)
        {
            throw e;
        }
    }

[SBYNTAG:REP-END]

    public void setObjectId(Object value) throws ObjectException
    {
        set[sbyntag:objname.makeClassName]Id(value);
    }

[SBYNTAG:REP-BEGIN]    
    public void set[sbyntag:fieldname().makeClassName](Object value) throws ObjectException
    {
        try
        {
            setValue("[sbyntag:fieldname()]", value);
        }
        catch(ObjectException e)
        {
            throw e;
        }
    }
    
[SBYNTAG:REP-END]
    public AttributeMetaData getMetaData()
    {
        return null;
    }
            
[SBYNTAG:REP-BEGIN]    
    public Collection get[sbyntag:seclist().makeClassName]()
    {
        return pGetChildren("[sbyntag:seclist()]");
    }
    
[SBYNTAG:REP-END]
[SBYNTAG:REP-BEGIN]    
    public void add[sbyntag:seclist().makeClassName]([sbyntag:seclist().makeClassName]Object [sbyntag:seclist().toLowerCase])
    {
        try
        {
            addChild([sbyntag:seclist().toLowerCase]);
        }
        catch (ObjectException ex)
        {
            mLogger.error(ex.getMessage(), ex);
        }
    }
    
[SBYNTAG:REP-END]
    public void addSecondaryObject(ObjectNode obj) throws SystemObjectException
    {
        try
        {
            addChild(obj);
        }
        catch (ObjectException ex)
        {
            mLogger.error(ex.getMessage(), ex);
        }
    }
    
    public void dropSecondaryObject(ObjectNode obj) throws SystemObjectException
    {
        try
        {
            removeChild(obj.pGetTag(), obj.pGetKey());
        }
        catch (ObjectException ex)
        {
            mLogger.error(ex.getMessage(), ex);
        }
    }
    
    public Collection getSecondaryObject(String type) throws SystemObjectException
    {
        return pGetChildren(type);
    }    

    public ArrayList getChildTags()
    {
        if (null == mChildTags)
        {
            mChildTags = new ArrayList();
[SBYNTAG:REP-BEGIN]
            mChildTags.add("[sbyntag:seclist()]");
[SBYNTAG:REP-END]            
        }        
        
        return mChildTags;
    }
    
    public ObjectNode copy () throws ObjectException
    {
        [sbyntag:objname.makeClassName]Object ret = null;
        try
        {
            ret = new [sbyntag:objname.makeClassName]Object();
            String tag = pGetTag ();
            ArrayList names = pGetFieldNames ();
            ArrayList values = pGetFieldValues ();

            for(int i=0; i<names.size (); i++)
            {
                String name = (String)names.get (i);
                ret.setValue (name, getValue(name));
                ret.setVisible (name, isVisible (name));
                ret.setSearched (name, isSearched (name));
                ret.setChanged (name, isChanged (name));
                ret.setKeyType (name, isKeyType (name));
            }
            ret.setUpdateFlag ( isUpdated());
            ret.setRemoveFlag ( isRemoved());
            ret.setAddFlag ( isAdded());
            ret.setKeyChangeFlag ( isKeyChanged() );

            ArrayList fieldUpdateLogs = null;
            if ( pGetFieldUpdateLogs()!= null ){
                fieldUpdateLogs = (ArrayList)pGetFieldUpdateLogs().clone();    
            }
            ret.setFieldUpdateLogs( fieldUpdateLogs );
            
            if (null != mParent)
            {
                ret.setParent(mParent);
            }
           
            ArrayList aKeyedChildren = getAllChildrenFromHashMap();
            if (aKeyedChildren != null) {
                for (int i = 0; i < aKeyedChildren.size(); i++) {
                    ObjectNode child = (ObjectNode) aKeyedChildren.get(i);
                    ret.addChildNoFlagSet(child.copy());
                }
            }
        }
        catch (ObjectException e)
        {
            throw e;
        }
                
        return (ObjectNode)ret;
    }
    
    public ObjectNode structCopy () throws ObjectException
    {
        [sbyntag:objname.makeClassName]Object ret = null;
        try
        {
            ret = new [sbyntag:objname.makeClassName]Object();
            String tag = pGetTag ();
            ArrayList names = pGetFieldNames ();

            for(int i=0; i<names.size (); i++)
            {
                String name = (String)names.get (i);
                ret.setVisible (name, isVisible (name));
                ret.setSearched (name, isSearched (name));
                ret.setKeyType (name, isKeyType (name));
            }

            ObjectKey key = pGetKey();
            if (key != null) {
                ret.setKey(key);
            }                

            if (null != mParent)
            {
                ret.setParent(mParent);
            }

            ArrayList aKeyedChildren = getAllChildrenFromHashMap();
            if (aKeyedChildren != null) {
                for (int i = 0; i < aKeyedChildren.size(); i++) {
                    ObjectNode child = (ObjectNode) aKeyedChildren.get(i);
                    ret.addChildNoFlagSet(child.structCopy());
                }
            }
        }
        catch (ObjectException e)
        {
            throw e;
        }
                
        return (ObjectNode)ret;
    }
}
