CREATE TABLE EX_ATTR_MAPPING
(
    EXATTRMAPID		VARCHAR2(20)	NOT NULL,
    EXATTRNAME  	VARCHAR2(50)	NOT NULL,
    EXATTRCOLNAME	CHAR		NOT NULL,
    SEARCHABLE  	CHAR    	NULL,
    CONSTRAINT PK_EX_ATTR_MAPPING PRIMARY KEY (EXATTRMAPID)
        USING INDEX
);

CREATE TABLE EX_ATTR_VALUES
(
    EXATTRVALUEID	VARCHAR2(20)	NOT NULL,
    EXATTRMAPID		VARCHAR2(20)	NOT NULL,
    ATTRVALUE1		VARCHAR2(50)	NULL,
    ATTRVALUE2		VARCHAR2(60)	NULL,
    ATTRVALUEn          VARCHAR2(60)	NULL,
    ATTRMULTIVALUE1	BLOB            NULL,
    ATTRMULTIVALUEn	BLOB            NULL,
    CONSTRAINT PK_EX_ATTR_VALUES PRIMARY KEY (EXATTRVALUEID, EXATTRMAPID)
        USING INDEX
);

COMMIT;