CREATE TABLE RELATIONSHIPTYPE (
	ID VARCHAR2(20),
        RELATIONSHIPTYPE VARCHAR2(20),
        PLUGIN VARCHAR2(40),
	SOURCEDOMAIN VARCHAR2(40),
	TARGETDOMAIN VARCHAR2(40),
        DISPLAYNAME VARCHAR2(40),
	STARTDATE BOOLEAN,
        ENDDATE BOOLEAN,
	VALIDATION BOOLEAN,
);

COMMIT;