<header>
set @v_ts = (select now());
set @v_user = (select user());
</header>
<repeat>
insert into sbyn_systems (systemcode, description, status, id_length, format, input_mask, value_mask, create_date, create_userid) 
    values ('$<system>', '$<system-description>', 'A', 10, '[0-9]{10}', 'DDD-DDD-DDDD', 'DDD^DDD^DDDD', @v_ts, @v_user);
</repeat>
<trailer>
commit;
</trailer>
