[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname]
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:fieldname]"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]StName"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]HouseNo"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]StDir"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]StType"/>
<candidate-field name="[sbyntag:decoratedqualifiednodename].[sbyntag:genfieldprefix]StPhon"/>