[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix]
				<group standardization-type="address">
					<unstandardized-source-fields>
[SBYNTAG:REP-BEGIN]
						<unstandardized-source-field-name>[sbyntag:sourcefieldnames()]</unstandardized-source-field-name>
[SBYNTAG:REP-END]
					</unstandardized-source-fields>
					<standardization-targets>
						<target-mapping>
							<standardized-object-field-id>HN</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>RV</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>BV</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]HouseNo</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>SN</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StName</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>RT</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StName</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>BT</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StName</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>PD</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StDir</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>SD</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StDir</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>ST</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StType</standardized-target-field-name>
						</target-mapping>
						<target-mapping>
							<standardized-object-field-id>PT</standardized-object-field-id>
							<standardized-target-field-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]StType</standardized-target-field-name>
						</target-mapping>
					</standardization-targets>
				</group>
