      

      .textinall {
        font-family: Tahoma, Arial;
        font-size: 10px;
        font-weight: normal;
        color: #717171;
        text-decoration: none;
      }

      .textinall2 {
        font-family: Tahoma, Arial;
        font-size: 11px;
        font-weight: normal;
        color: #717171;
        text-decoration: none;
      }

      .textinall3 {
        font-family: Tahoma, Arial;
        font-size: 10px;
        font-weight: bold;
        text-transform: none;
        color: #B5C413;
        text-decoration: none;
      }

      .textinall4 {
        font-family: Tahoma, Arial;
        font-size: 10px;
        font-weight: normal;
        color: #FFFFFF;
        text-decoration: none;
      }

      .textinall5 {
        font-family: Tahoma, Arial;
        font-size: 11px;
        font-weight: bold;
        color: #0081AB;
      }

      .textinall6 {
        font-family: Tahoma, Arial;
        font-size: 10px;
        font-weight: bold;
        color: #FFFFFF;
        text-decoration: none;
      }

      .textinall7 {
        font-family: Tahoma, Arial;
        font-size: 11px;
        font-weight: normal;
        color: #CCD8E5;
        text-decoration: none;
      }

      .GreenTitle {
        font-family: Tahoma, Arial;
        font-size: 11px;
        font-weight: bold;
        color: #669900;
        text-decoration: none;
      }

      .LargePageTitle {
        font-size: 28px;
        font-weight: bold;
        color: #000000;
        text-align:center;
      }    

      .SectionTitle {
        font-family: Tahoma, Arial;
        font-size: 12px;
        font-weight: bolder;
        color: #000000;
        text-decoration: none;
      }

      .SectionSubtitle {
        font-family: Tahoma, Arial;
        font-size: 11px;
        font-weight: bolder;
        color: #000000;
        text-decoration: none;
      }

      .SectionParagraph {
        font-family: Tahoma, Arial;
        font-size: 10px;
        font-weight: normal;
        color: #404040;
        text-decoration: none;
        text-align:justify 
      }

      .OesbParagraph1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .OesbSpace {
        margin-top: 7px;
      }

      .OesbNavGroup, #OesbNavGroupId {
      {
        background-color:#EDEDE7;
        margin-bottom: 6px;
      }

      .OesbTitle, #OesbTitleId {
        background-color: #DCDCD4;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bolder;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-right-color: #555555;
        border-bottom-color: #555555;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-left: 3px;
      }

      .OesbBody, #OesbBodyId {
        background-color: #EDEDE7;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-right-color: #AAAAAA;
        border-bottom-color: #AAAAAA;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .OesbItem, .OesbItem a {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-decoration :none;
      }

      a {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-decoration :line-through;
      }



      .OesbBody ul {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        padding: 0px 0px 5px 10px;
        margin: 0;
        list-style-type: circle;
        text-decoration: none;
      }

      .OesbUl {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        list-style-type: none;
        text-decoration: none;
      }

      .OesbUl li {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        list-style-type: none;
        text-decoration: none;
      }

      .OesbUl a, .OesbUl a:visited, .OesbUl li a{
        position: relative;
        text-decoration: none;
      }

      .OesbUl a:hover, .OesbUl li a:hover {
        font-weight: bolder;
        color: #FD6901;
      }

      .OesbUl a span {
        display: none;
      }

      .OesbUl a:hover span {
        font-family: Arial, verdana, sans-serif;
        font-size: 12px;
        font-weight: normal;
        display: block;
        position: absolute;
        right: 180px;
        top: 0;
        text-align: left;
        padding: 0.5em;
        width: 24em;
        background-color: #EDEDE7;
        color:#000000;
        border: 1px solid #808;
      }

      .OesbUl img {
        border: 1px solid #000;
        float: left;
        margin: 0.25em 1em 0.5em 0;
      }

      .OesbUl a:hover span:first-line {
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        color: #808;
      }

      #helptext_title { 
        background-image: url('images/icon_help_sml.gif'); 
        background-repeat: no-repeat; 
        background-position: 97% 50% 
      }