DROP TABLE IF EXISTS RELATIONSHIP_EAV;
DROP TABLE IF EXISTS RELATIONSHIP_EA;
DROP TABLE IF EXISTS RELATIONSHIP;
DROP TABLE IF EXISTS RELATIONSHIP_DEF;
DROP TABLE IF EXISTS HIERARCHY_NODE_EAV;
DROP TABLE IF EXISTS HIERARCHY_NODE_EA;
DROP TABLE IF EXISTS HIERARCHY_NODE;
DROP TABLE IF EXISTS HIERARCHY_DEF;
DROP TABLE DOMAINS;
