[SBYNTAG:DEFINE:objname,qualifiednodename,sourcefieldnames(),genfieldprefix,fieldname()]
				<match-column>
					<column-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]FirstName</column-name>
					<match-type>FirstName</match-type>
				</match-column>
				<match-column>
					<column-name>[sbyntag:qualifiednodename].[sbyntag:genfieldprefix]LastName</column-name>
					<match-type>LastName</match-type>
				</match-column>