[SBYNTAG:DEFINE:objname,decoratedqualifiednodename,genfieldprefix,fieldname,fieldtype,fieldsize,updateable,required,keytype,visible]
        <fields>
            <field-name>[sbyntag:genfieldprefix]LastName</field-name>
            <field-type>string</field-type>
            <size>40</size>
            <updateable>true</updateable>
            <required>false</required>
            <key-type>false</key-type>
            <visible>true</visible>
        </fields>
        <fields>
            <field-name>[sbyntag:genfieldprefix]FirstName</field-name>
            <field-type>string</field-type>
            <size>40</size>
            <updateable>true</updateable>
            <required>false</required>
            <key-type>false</key-type>
            <visible>true</visible>
        </fields>
        <fields>
            <field-name>[sbyntag:genfieldprefix]MiddleName</field-name>
            <field-type>string</field-type>
            <size>30</size>
            <updateable>true</updateable>
            <required>false</required>
            <key-type>false</key-type>
            <visible>true</visible>
        </fields>
        <fields>
            <field-name>[sbyntag:genfieldprefix]LastPhon</field-name>
            <field-type>string</field-type>
            <size>8</size>
            <updateable>true</updateable>
            <required>false</required>
            <key-type>false</key-type>
            <visible>true</visible>
        </fields>
        <fields>
            <field-name>[sbyntag:genfieldprefix]FirstPhon</field-name>
            <field-type>string</field-type>
            <size>8</size>
            <updateable>true</updateable>
            <required>false</required>
            <key-type>false</key-type>
            <visible>true</visible>
        </fields>
        <fields>
            <field-name>[sbyntag:genfieldprefix]MiddlePhon</field-name>
            <field-type>string</field-type>
            <size>8</size>
            <updateable>true</updateable>
            <required>false</required>
            <key-type>false</key-type>
            <visible>true</visible>
        </fields>